<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>提现</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static_sg/my/css/style.css" />

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>

    <script charset="utf-8" src="/static/static_new/js/dialog.min.js"></script>
    <link rel="stylesheet" href="/static/static_new/css/public.css">

</head>

<body>
    <div class="header header3">
        <a href="###" onclick="history.go(-1);" class="g-return"></a>
        <h1>我要提现</h1>
    </div>
    <form id="login-form">
        <input type="hidden" name="bankinfoId" value="">
        <div class="lc-box1 cz-box1">
            <div class="title">提现金额（点击输入充值金额）</div>
            <div class="price">
                ¥<input type="number" name="num" id="num" class="js-price"
                    onkeypress="return event.keyCode>=48&&event.keyCode<=57||event.keyCode==46"
                    onpaste="return !clipboardData.getData('text').match(/\D/)" ondragenter="return false"
                    onblur="return this.value=isNaN(parseFloat(this.value).toFixed(2))?'':parseFloat(this.value).toFixed(2)"
                    onfocus="return this.value=''" value="0.00">
            </div>
        </div>
        <div class="cz-box4">
            <div class="left">余额: ￥0.00</div>
            <!--<div class="right tixian" data-price="{$user.balance}" ><img src="../../home/images/tixian.png"></div>-->
            <div class="right" data-price="0.00">全部提现</div>
        </div>

        <div class="wp">
            <div class="w-tit1">
                <div class="tit">提现说明</div>
            </div>
            <ul class="notice-list">
                <!--        <li>-->
                <!--            <div class="tit">手机号：</div>-->
                <!--            <div class="con">-->
                <!--                <input type="text" th:value="${bankinfo == null ? _ : bankinfo.tel}" placeholder="输入手机号" name="mobile" autocomplete="off">-->
                <!--            </div>-->
                <!--        </li>-->
                <li>
                    <div class="tit">数字钱包：</div>
                    <div class="con">
                        <input type="text" value="" name="digital_wallet" autocomplete="off" readonly="">
                    </div>
                </li>
                <li>
                    <div class="tit">银行卡号：</div>
                    <div class="con">
                        <input type="text" value="" name="bank_account" autocomplete="off" readonly="">
                    </div>
                </li>
                <li>
                    <div class="tit">所属银行：</div>
                    <div class="con">
                        <input type="text" value="" name="back_address" autocomplete="off" readonly="">
                    </div>
                </li>
                <li>
                    <div class="tit">开户名：</div>
                    <div class="con">
                        <input type="text" value="" name="back_name" autocomplete="off" readonly="">
                    </div>
                </li>
                <li>
                    <div class="tit">资金密码：</div>
                    <div class="con">
                        <input type="password" placeholder="输入资金密码" name="paypassword" autocomplete="off">
                    </div>
                </li>
            </ul>
            <input type="hidden" name="type" value="card">
            <a href="javascript:;" class="btn-submit save-btn">确定</a>
            <div class="g-tip">请仔细核对收款信息本次提现扣除手续费0%</div>
        </div>
    </form>
    <script>
        $(function () {
            $('.cz-box4').on('click', '.right', function () {
                var price = $(this).data('price');
                $('.js-price').val(price);
            });
        })
    </script>
    <script type="application/javascript">
        function tixianAll(price) {
            $('#num').val(price);
        }

        $(function () {
            if ($("input[name=bank_account]").val() == '') {
                loading = $(document).dialog({
                    type: 'notice',
                    infoIcon: '/static_new/img/loading.gif',
                    infoText: '跳转中....',
                    autoClose: 0
                });
                $(document).dialog({ infoText: '未绑定银行卡,前往绑定!' });
                setTimeout(function () {
                    window.location.href = '/my/bind_bank';
                }, 2000);
            }


            /*检查表单*/
            function check() {
                if ($("input[name=num]").val() == '') {
                    $(document).dialog({ infoText: '输入提现金额' });
                    return false;
                }
                if ($("input[name=mobile]").val() == '') {
                    $(document).dialog({ infoText: '输入手机号' });
                    return false;
                }
                if ($("input[name=bank_account]").val() == '') {
                    $(document).dialog({ infoText: '输入银行卡号' });
                    return false;
                }
                if ($("input[name=back_name]").val() == '') {
                    $(document).dialog({ infoText: '输入开户名' });
                    return false;
                }
                if ($("input[name=paypassword]").val() == '') {
                    $(document).dialog({ infoText: '输入资金密码' });
                    return false;
                }
                return true;
            }

            /*点击登录*/
            $(".save-btn").on('click', function () {
                if (check()) {
                    var loading = null;
                    $.ajax({
                        url: '/deposit/do_deposit',
                        data: $("#login-form").serialize(),
                        type: 'POST',
                        beforeSend: function () {
                            loading = $(document).dialog({
                                type: 'notice',
                                infoIcon: '/static_new/img/loading.gif',
                                infoText: '正在加载中',
                                autoClose: 0
                            });
                        },
                        success: function (data) {
                            loading.close();
                            if (data.success) {
                                $(document).dialog({ infoText: '提交成功,请耐心等待审核!' });
                                setTimeout(function () {
                                    window.location.href = '/my';
                                }, 2000);
                            } else {
                                $(document).dialog({ infoText: data.msg });
                            }
                        }
                    });
                }
            })
        })


    </script>
</body>

</html>