<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/home/css/style.css" />

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>
    <script charset="utf-8" src="/static/static_new/js/dialog.min.js"></script>
    <link rel="stylesheet" href="/static/static_new/css/public.css">
</head>

<body>
    <div class="header">
        <a href="/ctrl/set" class="g-return"></a>
        <h1>修改密码</h1>
    </div>
    <div class="wp">
        <div class="h160"></div>
        <div class="form-login form-pwd">
            <form id="pwdForm">
                <div class="inp-box">
                    <div class="tit tit2">旧密码</div>
                    <input name="old_pwd" class="inp" type="password" placeholder="请输入旧密码">
                </div>
                <div class="inp-box">
                    <div class="tit tit2">新密码</div>
                    <input name="new_pwd" class="inp" type="password" placeholder="请输入新密码">
                </div>
                <div class="inp-box inp-box2">
                    <div class="tit tit2">确认密码</div>
                    <input name="password_confirm" class="inp" type="password" placeholder="请输入新密码">
                </div>
                <div class="g-tip2">
                    <p>请牢记密码,如忘记密码,请联系客服。</p>
                </div>
                <div class="h100"></div>
                <input type="button" value="确定" class="btn-submit">
            </form>
        </div>

    </div>
    <script src="/static/home/js/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $("#pwdForm").validate({
                rules: {
                    password1: {
                        required: true,
                        minlength: 6,
                        maxlength: 10,
                    },
                    password2: {
                        required: true,
                        minlength: 6,
                        maxlength: 10,
                    },
                    password3: {
                        required: true,
                        minlength: 6,
                        maxlength: 10,
                    },
                },
                //错误信息提示
                messages: {
                    password1: {
                        required: "必须填写密码",
                        minlength: "密码至少为6个字符",
                        maxlength: "密码至多为10个字符",
                    },
                    password2: {
                        required: "必须填写新密码",
                        minlength: "密码至少为6个字符",
                        maxlength: "密码至多为10个字符",
                    },
                    password3: {
                        required: "必须和新密码一样",
                        minlength: "密码至少为6个字符",
                        maxlength: "密码至多为10个字符",
                    },
                },
            });
        })
    </script>
    <script type="application/javascript">
        $(function () {
            var countdown = 120;
            var flag = true;
            var loading = null;

            function check() {
                if ($("input[name=old_pwd]").val() == '' || $("input[name=new_pwd]").val() == '') {
                    $(document).dialog({ infoText: '请输入密码' });
                    return false;
                }
                if ($("input[name=new_pwd]").val() !== $("input[name=password_confirm]").val()) {
                    $(document).dialog({ infoText: '两次输入的密码不一致' });
                    return false;
                }
                return true;
            }

            $(".btn-submit").on('click', function () {
                if (check()) {
                    $.ajax({
                        url: '/users/setPwd',
                        data: $("#pwdForm").serialize(),
                        type: 'POST',
                        beforeSend: function () {
                            loading = $(document).dialog({
                                type: 'notice',
                                infoIcon: '/static/static_new/img/loading.gif',
                                infoText: '正在加载中',
                                autoClose: 0
                            });
                        },
                        success: function (data) {
                            if (data.success) {
                                $(document).dialog({ infoText: "保存成功" });
                                setTimeout(function () {
                                    window.location.href = '/ctrl/set';
                                }, 2000);
                            } else {
                                loading.close();
                                $(document).dialog({ infoText: data.msg });
                            }
                        }
                    });
                }
                return false;
            })
        })
    </script>
</body>

</html>