<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible " content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>在 线 咨 询</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0
        }
    </style>
</head>

<body>
 <script src="https://plugin-code.salesmartly.com/js/project_367273_377354_1750410803.js"></script>
</body>

</html>