<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>储入</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/home/css/style.css" />

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>

    <script charset="utf-8" src="/static/static_new/js/dialog.min.js"></script>
    <link rel="stylesheet" href="/static/static_new/css/public.css">
    <style>
        .pay_row {
            display: flex;
            align-items: center;
            height: 1.5rem;
            background: #FFFFFF;
            box-shadow: 0px 0px 0.08rem 0.02rem rgb(8 29 74 / 3%);
            border-radius: 0.15rem;
            padding: 0 0.31rem 0 0.38rem;
            margin-bottom: 0.37rem;

        }

        .jt {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);

        }
    </style>
</head>

<body>
    <div class="header header3">
        <a href="###" onclick="history.go(-1);" class="g-return"></a>
        <h1>我要储入</h1>
    </div>
    <div class="lc-box1 cz-box1 mb">
        <div class="title">储入金额（点击输入储入金额）</div>
        <div class="price">
            ¥<input name="price" id="js-price" class="js-price"
                onkeypress="return event.keyCode>=48&&event.keyCode<=57||event.keyCode==46"
                onpaste="return !clipboardData.getData('text').match(/\D/)" ondragenter="return false"
                onblur="return this.value=isNaN(parseFloat(this.value).toFixed(2))?'':parseFloat(this.value).toFixed(2)"
                onfocus="return this.value=''" value="500.00"></input>
        </div>
    </div>
    <div class="wp">
        <div class="cz-box2">
            <div class="w-tit1">
                <div class="tit">储入说明</div>
            </div>
            <ul>
                <li class="on"><a href="javascript:;" data-price="500.00">500元</a></li>
                <li><a href="javascript:;" data-price="1000.00">1000元</a></li>
                <li><a href="javascript:;" data-price="2000.00">2000元</a></li>
                <li><a href="javascript:;" data-price="5000.00">5000元</a></li>
                <li><a href="javascript:;" data-price="10000.00">1万元</a></li>
                <li><a href="javascript:;" data-price="50000.00">5万元</a></li>
                <li><a href="javascript:;" data-price="100000.00">10万元</a></li>
                <li><a href="javascript:;" data-price="500000.00">50万元</a></li>
            </ul>
        </div>
        <!--<input value="100" name="price" id="js-price" type="hidden" placeholder="请输入储入金额">-->
        <div class="cz-box3">
            <div class="w-tit1">
                <div class="tit">付款方式</div>
            </div>

            <div class="payment">





                <div class="pay_row" style="margin-bottom:0px" onclick="togg('quna_list',this)">
                    <div class="icon">
                        <img src="/public/img/card.png" onerror="this.src='/static/public/img/card.png'">
                    </div>
                    <div class="tit">卡券储入入口</div>
                    <div style="display:flex;" class="flag "><img src="/static/home/images/icon-return3.png"
                            width="10px"></div>
                </div>
                <ul class="payment" id="quna_list" style="display: none;">
                    <li class="save-btn2" data-id="9" style="margin-bottom:0px;">
                        <div class="icon">
                            <img src="/static/public/img/card.png" onerror="this.src='/static/public/img/card.png'"
                                alt="电子/卡卷礼品卡">
                        </div>
                        <div class="tit" style="display:flex;">
                            <div style="line-height:1.5rem">电子/卡卷礼品卡</div>
                            <div style="display:flex;"><img src="/static/home/images/tuijian.png" width="40px"
                                    height="40px"></div>
                        </div>
                        <i></i>
                    </li>
                </ul>





                <ul class="payment" id="wx_list" style="display:none">
                    <li class="save-btn2" data-id="3" style="margin-bottom:0px;display:none">
                        <div class="icon">
                            <img src="/static/public/img/card.png" onerror="this.src='/static/public/img/wx.png'"
                                alt="银行卡转账">
                        </div>
                        <div class="tit" style="display:flex;">
                            <div style="line-height:1.5rem">银行卡转账</div>
                            <div style="display:flex;"><img src="/static/home/images/tuijian.png" width="40px"
                                    height="40px"></div>
                        </div>
                        <i></i>
                    </li>
                    <li class="save-btn2" data-id="9" style="margin-bottom:0px;display:none">
                        <div class="icon">
                            <img src="/static/public/img/card.png" onerror="this.src='/static/public/img/wx.png'"
                                alt="电子卡卷充值">
                        </div>
                        <div class="tit" style="display:flex;">
                            <div style="line-height:1.5rem">电子卡卷充值</div>
                            <div style="display:flex;"><img src="/static/home/images/tuijian.png" width="40px"
                                    height="40px"></div>
                        </div>
                        <i></i>
                    </li>
                </ul>


                <div class="pay_row" style="margin-top:0.37rem;margin-bottom:0px" onclick="togg('card_list',this)">
                    <div class="icon">
                        <img src="/public/img/card.png" onerror="this.src='/static/public/img/card.png'">
                    </div>
                    <div class="tit">银联储入入口</div>
                    <div style="display:flex;" class="flag "><img src="/static/home/images/icon-return3.png"
                            width="10px"></div>
                </div>

                <ul class="payment" id="card_list" style="display:none">
                    <li class="save-btn2" data-id="3" style="margin-bottom:0px;">
                        <div class="icon">
                            <img src="/static/public/img/card.png" onerror="this.src='/static/public/img/card.png'"
                                alt="银行卡转账">
                        </div>
                        <div class="tit" style="display:flex;">
                            <div style="line-height:1.5rem">银行卡转账</div>
                            <div style="display:flex;"><img src="/static/home/images/tuijian.png" width="40px"
                                    height="40px"></div>
                        </div>
                        <i></i>
                    </li>
                    <li class="save-btn2" data-id="9" style="margin-bottom:0px;display:none">
                        <div class="icon">
                            <img src="/static/public/img/card.png" onerror="this.src='/static/public/img/card.png'"
                                alt="电子卡卷充值">
                        </div>
                        <div class="tit" style="display:flex;">
                            <div style="line-height:1.5rem">电子卡卷充值</div>
                            <div style="display:flex;"><img src="/static/home/images/tuijian.png" width="40px"
                                    height="40px"></div>
                        </div>
                        <i></i>
                    </li>
                </ul>
            </div>


            <!--<ul class="payment">-->
            <!--    {foreach $pay as $key=>$vo}-->
            <!--    <li class="save-btn2 {if($key==0)}on{/if}" data-id="{$vo.name2}">-->
            <!--        <div class="icon">-->
            <!--            <img src="{$vo.ico}" onerror="this.src='/static_new6/img/unionpay.jpg'" alt="{$vo.name}">-->
            <!--        </div>-->
            <!--        <div class="tit">{$vo.name}</div>-->
            <!--        <i></i>-->
            <!--    </li>-->
            <!--    {/foreach}-->
            <!--</ul>-->



        </div>
        <a href="javascript:;" class="btn-submit save-btn">确定</a>
    </div>
    <script>
        function togg(el, t) {
            $('#' + el).toggle()
            $(t).find('.flag').toggleClass('jt')
        }


        $(function () {
            $('.cz-box2').on('click', 'a', function () {
                var price = $(this).data('price');
                $('.js-price').val(price);
                $('#js-price').val(price);
                $(this).parents('li').addClass('on').siblings().removeClass('on')
            });
            $('.cz-box3').on('click', 'li', function () {
                $(this).addClass('on').siblings().removeClass('on')
            });
        })
    </script>
    <script type="application/javascript">
        var type = '';
        $(function () {
            function check() {
                if ($("input[name=price]").val() == '') {
                    $(document).dialog({ infoText: '输入储入金额' });
                    return false;
                }
                return true;
            }

            $(".save-btn").on('click', function () {
                if (check()) {
                    click2();
                }
            });

            $(".save-btn2").on('click', function () {
                $('.payment .on').removeClass('on');
                $(this).addClass('on');
            });

            function click2() {
                type = $('.payment .on').data('id');

                if ($("input[name=price]").val() == '') {
                    $(document).dialog({ infoText: '输入储入金额' });
                    return false;
                }
                if (typeof (type) == 'undefined' || type == '') {
                    $(document).dialog({ infoText: '选择支付方式' });
                    return false;
                }
                if (typeof (type) == 'undefined' || type == '9') {
                    window.location.href = '/my/help';
                    return false;
                }
                // 查询是否是京东E卡（10000）或者是苏宁（10001）
                var loading = null;
                var price = $("input[name=price]").val();
                $.ajax({
                    url: '/pay/recharge',
                    data: { price: price, payId: type, kahao: 1, kami: 1 },
                    type: 'POST',
                    beforeSend: function () {
                        loading = $(document).dialog({
                            type: 'notice',
                            infoIcon: '/static_new/img/loading.gif',
                            infoText: '正在加载中',
                            autoClose: 0
                        });
                    },
                    success: function (data) {
                        if (data.success) {
                            $(document).dialog({ infoText: '提交成功, 即将跳转' });
                            setTimeout(function () {
                                window.location.href = data.data;
                            }, 1500);
                        } else {
                            if (data.msg === '10000') {

                                window.location.href = "/pay/recharge_jd_10000?price=" + price + "&payId=" + type

                            } else if (data.msg === '10001') {
                                window.location.href = "/pay/recharge_sn_10001?price=" + price + "&payId=" + type
                            } else {

                                loading.close();
                                $(document).dialog({ infoText: data.msg });
                            }

                        }
                    }
                });

            }





            //-----------------------------------
        })
    </script>

</body>

</html>