<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/home/css/style.css" />
    <link rel="stylesheet" href="/static/home/css/danmu.css" />
    <link rel="stylesheet" href="/static/home/css/swiper.css">

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>
    <script src="/static/home/js/swiper.min.js"></script>

    <!--轮播图-->
    <link rel="stylesheet" href="/static/banner/css/normalize.css">
    <link rel="stylesheet" href="/static/banner/css/style.css">
    <script src="/static/banner/js/awesome-slider.min.js"></script>
    <script>
        function main() {
            // 从HTML中读取轮播图数据
            var bannerDataElement = document.getElementById('banner-data');
            var bannerData = [];

            if (bannerDataElement) {
                try {
                    bannerData = JSON.parse(bannerDataElement.textContent);
                    // 过滤掉空的图片项
                    bannerData = bannerData.filter(function (item) {
                        return item.image && item.image.trim() !== '';
                    });
                } catch (e) {
                    console.error('轮播图数据解析失败:', e);
                    bannerData = [];
                }
            }

            // 如果没有有效数据，使用默认数据
            if (bannerData.length === 0) {
                bannerData = [
                    { image: "/static/banner/img/1.jpg", url: "" },
                    { image: "/static/banner/img/2.jpg", url: "" },
                    { image: "/static/banner/img/3.jpg", url: "" },
                    { image: "/static/banner/img/4.jpg", url: "" }
                ];
            }

            var root = document.getElementById("root");

            function appendContainer(text) {
                var container = document.createElement("div");
                container.className = "container";
                root.appendChild(container);

                if (text) {
                    var introduce = document.createElement("div");
                    introduce.className = "introduce";
                    var textNode = document.createTextNode(text);
                    introduce.appendChild(textNode);
                    container.appendChild(introduce);
                }
                return container;
            }

            var text = "";
            var container = appendContainer(text);

            // 提取图片URL数组
            var images = bannerData.map(function (item) {
                return item.image;
            });

            var awesomeSlider = new AwesomeSlider(images, container, {
                duration: 1000 * 3,
                timing: "easeOutCubic"
            });

            // 添加点击事件处理链接跳转
            setTimeout(function () {
                var sliderItems = container.querySelectorAll('.awesome-slider-item');
                sliderItems.forEach(function (item, index) {
                    if (bannerData[index] && bannerData[index].url) {
                        item.style.cursor = 'pointer';
                        item.addEventListener('click', function () {
                            window.location.href = bannerData[index].url;
                        });
                    }
                });
            }, 100);
        }

        function readyGo(func) {
            if (document.readyState === "loading") {
                document.addEventListener("DOMContentLoaded", func);
            } else {
                func();
            }
        }

        readyGo(main);
    </script>
</head>

<body class="body-bottom">
    <div class="wp">
        <div class="ind-box1">
            <div class="tit">
                <img src="/upload/local/20250531/019e7ac3-8a37-45fd-8e95-a2ec4c7f2cd7.png" alt="">
                悠享手工
            </div>
            <a href="" class="user">
                <i></i>
                {$info.username}
            </a>
        </div>
        <!--			<div class="ind-box2">-->
        <!--				<div class="ind-box2-top">-->
        <!--					<img th:src="@{/static/home/images/ind-img1.png}" src="../../home/images/ind-img1.png" alt="">-->
        <!--					<div class="tit">我的总资产(元)</div>-->
        <!--					<div class="con">-->
        <!--						<div class="price">0.00</div>-->
        <!--						<a href="/ctrl/deposit" class="btn btn1">提现</a>-->
        <!--						<a href="/ctrl/recharge" class="btn btn2">储入</a>-->
        <!--					</div>-->
        <!--				</div>-->
        <!--				<ul class="count-list">-->
        <!--					<li>-->
        <!--						<div class="s1">0.00</div>-->
        <!--						<div class="s2">昨日收益（元）</div>-->
        <!--					</li>-->
        <!--					<li>-->
        <!--						<div class="s1">0.00</div>-->
        <!--						<div class="s2">今日收益（元）</div>-->
        <!--					</li>-->
        <!--					<li>-->
        <!--						<div class="s1">0.00</div>-->
        <!--						<div class="s2">累计收益（元）</div>-->
        <!--					</li>-->
        <!--				</ul>-->
        <!--			</div>-->
        <!--			<div class="ind-row3">-->
        <!--				<div class="box">-->
        <!--					<div class="swiper-wrapper">-->
        <!--						<div class="swiper-slide" th:each="vo,it:${lines}">-->
        <!--							<a href="###" class="tit"><img th:src="@{/static/home/images/icon-laba.png}"-->
        <!--									alt=""></a>-->
        <!--							<a href="###" class="more">了解</a>-->
        <!--						</div>-->

        <!--					</div>-->
        <!--				</div>-->
        <!--			</div>-->

        <!--轮播图-->
        <div id="root">
            <!-- 轮播图数据 -->
            <script type="application/json" id="banner-data">
            [
                {notempty name='banner'}
                {foreach $banner as $key=>$vo}
                {
                    "image": "{$vo.image}",
                    "url": "{$vo.url|default=''}"
                },
                {/foreach}
                {
                    "image": "",
                    "url": ""
                }
                {else}
                {
                    "image": "/static/banner/img/1.jpg",
                    "url": ""
                },
                {
                    "image": "/static/banner/img/2.jpg", 
                    "url": ""
                },
                {
                    "image": "/static/banner/img/3.jpg",
                    "url": ""
                },
                {
                    "image": "/static/banner/img/4.jpg",
                    "url": ""
                }
                {/notempty}
            ]
            </script>
        </div>
        <ul class="ind-row4">
            <li>
                <a href="/shop/index2">
                    <i class="i1"></i>
                    <p>手工商城</p>
                </a>
            </li>
            <li>
                <!--自由领取权-->
                <a href="/my/msg">
                    <i class="i2_0"></i>

                    <p></span>待激活权益</p>

                </a>
            </li>
            <li>
                <a href="/ctrl/recharge">
                    <i class="i3"></i>
                    <p>马上储入</p>
                </a>
            </li>
            <li>
                <a href="/ctrl/deposit">
                    <i class="i4"></i>
                    <p>快速提现</p>
                </a>
            </li>
            <li>
                <a href="/my/tc">
                    <i class="i5"></i>
                    <p>弹窗记录</p>
                </a>
            </li>
        </ul>
        <div class="ind-row5">
            <div class="w-tit1">
                <div class="tit">任务大厅</div>
            </div>
            <ul>
                <li class="li1">
                    <a href="/rotOrder?type=1">
                        <div class="pic"><img src="/static/home/images/rw1.png" alt="代还"></div>
                        <div class="icon"><img src="/upload/local/20230506/8f4b6891-692c-4f8e-af71-f307f98e18c0.png"
                                alt="代还"></div>
                        <div class="tit">拼多多</div>
                        <div class="info">普通会员专属通道</div>
                    </a>
                </li>
                <li class="li2">
                    <a href="{$info.level >= 1 ? '/rotOrder?type=2' : '/ctrl/vip'}">
                        <div class="pic"><img src="/static/home/images/rw2.png" alt="代还"></div>
                        <div class="icon"><img src="/upload/local/20230506/64505490-03f1-4608-9beb-2e43e34db158.png"
                                alt="代还"></div>
                        <div class="tit">淘宝</div>
                        <div class="info">白银会员专属通道</div>
                        {if $info.level < 1}<div class="status">储入解锁
        </div>{/if}
        </a>
        </li>
        <li class="li3">
            <a href="{$info.level >= 2 ? '/rotOrder?type=3' : '/ctrl/vip'}">
                <div class="pic"><img src="/static/home/images/rw3.png" alt="代还"></div>
                <div class="icon"><img src="/upload/local/20230506/03bc00fb-e1d6-4576-b7b5-dd862c9df6a7.png" alt="代还">
                </div>
                <div class="tit">天猫</div>
                <div class="info">黄金会员专属通道</div>
                {if $info.level < 2}<div class="status">储入解锁
    </div>{/if}
    </a>
    </li>
    <li class="li4">
        <a href="{$info.level >= 3 ? '/rotOrder?type=4' : '/ctrl/vip'}">
            <div class="pic"><img src="/static/home/images/rw4.png" alt="代还"></div>
            <div class="icon"><img src="/upload/local/20230506/95c07748-7bc7-46e4-b37a-5acf083953b8.png" alt="代还"></div>
            <div class="tit">京东</div>
            <div class="info">铂金会员专属通道</div>
            {if $info.level < 3}<div class="status">储入解锁</div>{/if}
        </a>
    </li>
    <li class="li5">
        <a href="{$info.level >= 4 ? '/rotOrder?type=5' : '/ctrl/vip'}">
            <div class="pic"><img src="/static/home/images/rw5.png" alt="代还"></div>
            <div class="icon"><img src="/upload/local/20230506/95c07748-7bc7-46e4-b37a-5acf083953b8.png" alt="代还"></div>
            <div class="tit">京东+淘宝</div>
            <div class="info">钻石会员专属通道</div>
            {if $info.level < 4}<div class="status">储入解锁</div>{/if}
        </a>
    </li>
    <li class="li6">
        <a href="{$info.level >= 5 ? '/rotOrder?type=6' : '/ctrl/vip'}">
            <div class="pic"><img src="/static/home/images/rw6.png" alt="代还"></div>
            <div class="icon"><img src="/upload/local/20230506/8f4b6891-692c-4f8e-af71-f307f98e18c0.png" alt="代还"></div>
            <div class="tit">天猫+淘宝</div>
            <div class="info">至尊会员专属通道</div>
            {if $info.level < 5}<div class="status">储入解锁</div>{/if}
        </a>
    </li>
    </ul>
    </div>

    <div class="ind-row6">
        <div class="w-tit1">
            <div class="tit">相关信息</div>
        </div>
        <ul>
            <li>
                <a href="/my/detail.html?id=2" class="myfancy">
                    <div class="icon">
                        <img src="/static/home/images/xx1.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="cn">平台简介</div>
                        <div class="en">Platform Introduction</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/my/detail.html?id=3">
                    <div class="icon">
                        <img src="/static/home/images/xx2.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="cn">规则说明</div>
                        <div class="en">Rule Description</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/my/detail.html?id=4">
                    <div class="icon">
                        <img src="/static/home/images/xx3.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="cn">代理合作</div>
                        <div class="en">Agency Cooperation</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/my/detail.html?id=12">
                    <div class="icon">
                        <img src="/static/home/images/xx4.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="cn">公司资质</div>
                        <div class="en">Company Qualifications</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    </div>


    <ul class="footer">
        <li class="" onclick="window.location.href='/'">
            <i class="i1"></i>
            <p>首页</p>
        </li>
        <li onclick="window.location.href='/order'">
            <i class="i2"></i>
            <p>记录</p>
        </li>
        <li onclick="window.location.href='/rotOrder'">
            <i class="i3"></i>
            <p>领取</p>
        </li>
        <li onclick="window.location.href='/support'">
            <i class="i4"></i>
            <p>客服</p>
        </li>
        <li onclick="window.location.href='/my'">
            <i class="i5"></i>
            <p>我的</p>
        </li>
    </ul>


    <div class="pop-mask" style="display:none"></div>
    <div class="pop-win1" style="display:none">
        <div class="bg"></div>
        <div class="title">{$tanchunag.title|default='特别公告通知'}</div>
        <div class="con">
            <p>{$tanchunag.content|raw}</p>
        </div>
        <a href="javascript:void(0);" onclick="closeTc()" style="margin-bottom: 0.8rem"
            class="w-btn js-pop-close">{:lang('我已阅读')}</a>
    </div>

    <div id="danmu" style="display:none">

        <div class='banner_img' style="width:8rem;height:3.89rem">
            <img src="/static/home/images/danmu.jpg" width="100%" height="100%">
        </div>

        <div class="summary-card">

            <div class="order-info">
                <div class="order-text">
                    <div class="summary-card_h1" id="title">消息通知</div>
                    <p class="summary-card_p" id="content"></p>
                    <input type="hidden" id="tc_id">
                </div>

                <div class="order-actions">
                    <button class="btn btn-primary summary-card_button" onclick="closeDanmu()">我知道了</button>
                    <!--<button class="btn btn-no-outline">Cancel Order</button>-->

                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            var swiper = new Swiper('.ind-row3 .box', {
                loop: true,
                direction: "vertical",
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                }
            });
            $('.footer li:eq(0)').addClass('active');

            // 检查是否从登录页面跳转过来，决定是否显示特别公告弹窗
            checkAndShowSpecialNotice();
        })

        // 检查并显示特别公告弹窗
        function checkAndShowSpecialNotice() {
            var fromLogin = sessionStorage.getItem('fromLogin');
            var loginTime = sessionStorage.getItem('loginTime');

            console.log('弹窗检查 - fromLogin:', fromLogin, 'loginTime:', loginTime);

            if (fromLogin === 'true') {
                // 检查是否是最近5分钟内的登录（避免长时间后还显示）
                var now = new Date().getTime();
                var timeDiff = now - parseInt(loginTime || 0);

                console.log('时间差检查 - 当前时间:', now, '登录时间:', loginTime, '时间差:', timeDiff, '分钟');

                if (timeDiff < 5 * 60 * 1000) { // 5分钟内
                    // 检查今天是否已显示过
                    var hasShownToday = localStorage.getItem('specialNoticeShown_' + getCurrentDate());

                    console.log('今日显示检查 - 日期:', getCurrentDate(), '已显示:', hasShownToday);

                    if (!hasShownToday) {
                        console.log('满足条件，显示弹窗');
                        showSpecialNotice();
                        // 只有在显示弹窗后才清除标记
                        sessionStorage.removeItem('fromLogin');
                        sessionStorage.removeItem('loginTime');
                    } else {
                        console.log('今日已显示过弹窗，跳过');
                    }
                } else {
                    console.log('登录时间超过5分钟，清除过期标记');
                    // 超过5分钟，清除过期的标记
                    sessionStorage.removeItem('fromLogin');
                    sessionStorage.removeItem('loginTime');
                }
            } else {
                console.log('未检测到登录标记');
            }
        }

        // 显示特别公告弹窗
        function showSpecialNotice() {
            console.log('开始显示弹窗');
            $('.pop-mask').show();
            $('.pop-win1').show();

            // 记录今天已显示过
            localStorage.setItem('specialNoticeShown_' + getCurrentDate(), 'true');
            console.log('弹窗已显示，设置今日显示标记:', 'specialNoticeShown_' + getCurrentDate());
        }

        // 获取当前日期字符串
        function getCurrentDate() {
            var today = new Date();
            return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        }

        // 测试用：手动清除弹窗显示记录（在控制台调用）
        function clearPopupRecord() {
            localStorage.removeItem('specialNoticeShown_' + getCurrentDate());
            console.log('已清除今日弹窗显示记录，刷新页面可重新显示弹窗');
        }

        function closeTc() {
            // 隐藏弹窗
            $('.pop-mask').hide();
            $('.pop-win1').hide();

            // 可选：调用后端记录用户已读状态（如果后端接口存在）
            $.ajax({
                url: "/closeTc",
                type: "POST",
                dataType: "JSON",
                data: {
                    type: 'special_notice',
                    action: 'close'
                },
                success: function (res) {
                    console.log('特别公告关闭状态已记录');
                },
                error: function () {
                    // 即使后端接口不存在也不影响前端功能
                    console.log('后端接口暂未实现，但弹窗功能正常');
                }
            })
        }
    </script>
    <script>
        get_user_tc();

        setInterval(get_user_tc, 5000);
        var flag = false;

        function showDanmu(content, title, id) {

            $("#danmu").show();
            $(".pop-mask").show();
            $("#content").html(content);
            $("#tc_id").val(id);
            $("#title").html(title);
        }

        function closeDanmu() {
            $("#danmu").hide();
            $(".pop-mask").hide();
            flag = false;
            $.ajax({
                url: "{:url('set_user_msg')}",
                type: "POST",
                dataType: "JSON",
                data: {
                    id: $("#tc_id").val()
                },
            })
        }

        function get_user_tc() {
            if (flag) {
                return false;
            }

            $.ajax({
                type: 'GET',
                url: "{:url('get_user_msg')}",
                data: {
                    'id': 2
                },
                success: function (res) {
                    if (res.code == 1 && res.info) {
                        flag = true;
                        var html = '';
                        showDanmu(res.info.content, res.info.title, res.info.id)

                    }
                }
            });
        }
    </script>

</body>

</html>