<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>绑定银行卡</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/my/css/style.css?ver=1.1" />

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>

    <script charset="utf-8" src="/static/static_new/js/dialog.min.js"></script>
    <link rel="stylesheet" href="/static/static_new/css/public.css">
</head>

<body>
    <div class="header">
        <a href="/ctrl/set" class="g-return"></a>
        <h1>绑定银行卡</h1>
    </div>
    <form id="login-form">
        <div class="wp">
            <div class="h160"></div>
            <div class="w-tit1">
                <div class="tit">您的身份信息</div>
            </div>
            <ul class="notice-list">
                <li>
                    <div class="tit" onclick="onBlur('username')">真实姓名：</div>
                    <div class="con">
                        <input type="text" id="username" name="username" maxlength="10" value="" class="inp">
                    </div>
                </li>
                <!--        <li>-->
                <!--            <div class="tit"  onclick="onBlur('tel')">联系电话：</div>-->
                <!--            <div class="con">-->
                <!--                <input type="tel" name="tel" id='tel' maxlength="11" th:value="${info.tel}" class="inp">-->
                <!--            </div>-->
                <!--        </li>-->
            </ul>
            <div class="w-tit1">
                <div class="tit">您的银行卡信息</div>
            </div>
            <ul class="notice-list">
                <li>
                    <div class="tit" onclick="onBlur('card')">数字钱包：</div>
                    <div class="con">
                        <input type="text" name="digitalWallet" id='digitalWallet' maxlength="20" value="" class="inp">
                    </div>
                </li>
                <li>
                    <div class="tit" onclick="onBlur('card')">银行卡号：</div>
                    <div class="con">
                        <input type="text" name="cardnum" id='card' maxlength="20" value="" class="inp">
                    </div>
                </li>
                <li>
                    <div class="tit" onclick="onBlur('bankname')">银行名称：</div>
                    <div class="con">
                        <input type="text" placeholder="未输入银行名称，请设置" id="bankname" name="bankname" maxlength="40"
                            value="" class="inp">
                    </div>
                </li>


                <!--         <li> -->
                <!--             <div class="tit">银行名称：</div> -->
                <!--             <div class="con"> -->
                <!--                 <select name="bankname"> -->
                <!--                     <option th:each="t,it: ${bankList}" th:value="${t}" th:selected="${t==info.bankname?'selected':_}"></option> -->

                <!--                 </select> -->
                <!--             </div> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--             <div class="tit"  onclick="onBlur('zhihang')">开户支行：</div> -->
                <!--             <div class="con"> -->
                <!--                 <input type="text" placeholder="未输入开户支行，请设置" id="zhihang" name="site" maxlength="40" th:value="${info.site}" class="inp"> -->
                <!--             </div> -->
                <!--         </li> -->

            </ul>

            <div class="g-tip2">
                <p>温馨提示:</p>
                <p>你好，为了保证您的权益，请仔细核对卡号与身份信息，如信息填写错误将可能导致无法到账，本平台不负任何责任！
                </p>
            </div>
            <a href="javascript:;" class="btn-submit">设置信息</a>
            <div class="h160"></div>
        </div>
    </form>
    <script>

        function onBlur(id) {
            $("#" + id).focus();
        }


        $(function () {
            $('.cz-box4').on('click', '.right', function () {
                var price = $(this).data('price');
                $('.js-price').val(price);
            });
        })
    </script>
    <script type="application/javascript">

        $(function () {
            /*检查表单*/
            function check() {
                if ($("input[name=username]").val() == '' || $("input[name=cardnum]").val() == '' || $("input[name=bankname]").val() == '' || $("input[name=tel]").val() == '') {
                    $(document).dialog({ infoText: '不能为空！' });
                    return false;
                }
                return true;
            }

            /*点击登录*/
            $(".btn-submit").on('click', function () {
                if (check()) {
                    var loading = null;
                    $.ajax({
                        url:  '/index/my/bind_bank',
                        data: $("#login-form").serialize(),
                        type: 'POST',
                        beforeSend: function () {
                            loading = $(document).dialog({
                                type: 'notice',
                                infoIcon: '/static/static_new/img/loading.gif',
                                infoText: '正在加载中',
                                autoClose: 0
                            });
                        },
                        success: function (data) {

                            if (data.code==0) {
                                $(document).dialog({ infoText: '保存成功' });
                                setTimeout(function () {
                                  window.history.back();
                                }, 2000);
                            } else {
                                loading.close();
                                $(document).dialog({ infoText: data.msg });
                            }
                        }
                    });
                }
                return false;
            })
        })

    </script>

</body>

</html>