<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>账户明细</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="/static/home/css/style.css" />
	<link href="/static_new6/css/app.red.css" rel="stylesheet">
	<script src="/static/home/js/jquery.js"></script>
	<script src="/static/home/js/lib.js"></script>
	<style>
		.pagination {
			display: flex;

		}

		.circle-color-8>div::before {
			background-color: #ccc;
		}

		/* 通用分页 */
		.pagination-container {
			padding: .2rem;
			line-height: 40px;
			text-align: left;
		}

		.pagination-container>span {
			color: #666;
			font-size: 9pt;
		}

		.pagination-container>ul {
			float: right;
			display: inline-block;
			margin: 0;
			padding: 0;
		}

		.pagination-container>ul>li {
			z-index: 1;
			display: inline-block;
		}

		.pagination-container>ul>li>a,
		.pagination-container>ul>li>span {
			color: #333;
			width: 33px;
			height: 30px;
			border: 1px solid #dcdcdc;
			display: inline-block;
			margin-left: -1px;
			text-align: center;
			line-height: 28px;
		}

		.pagination-container>ul>li>span {
			background: #dcdcdc;
			cursor: default;
		}

		.van-tab--active span {
			color: #ff9a2c;
		}

		.circle-color-23>div::before {
			background-color: #ccc;
		}

		.notdata {
			display: block;
			text-align: center;
			padding: 30px;
		}

		.nav .btn[data-v-5a05e720] {
			width: 25%;
		}

		.header {
			background: linear-gradient(313deg, #D5030B 0%, #FF6766 100%);
		}
	</style>
</head>

<body>
	<div class="header header3">
		<a href="/my" class="g-return"></a>
		<h1>账户明细</h1>
	</div>
	<div class="lc-box1 mx-box1">
		<div class="form-date">
			<input type="hidden" value="" id="type">
			<form>
				<input type="text" id="start" class="inp" name="start" value="" />
				<strong>至</strong>
				<input type="text" id="end" class="inp" name="end" value="" />
				<input type="submit" value="搜索" class="submit">
			</form>
		</div>
	</div>
	<div class="wp">
		<ul class="z-tab TAB_CLICK">
			<li class="<?php echo !$type?'on':'';  ?>"><a href="/index/my/caiwu">所有类型</a></li>
			<li class="<?php echo $type == 1?'on':'';  ?>"><a href="/index/my/caiwu.html?type=1">提现记录</a></li>
			<li class="<?php echo $type == 2?'on':'';  ?>"><a href="/index/my/caiwu.html?type=2">充值记录</a></li>
		</ul>
		<ul class="mx1-list" id="newsList">
			<div data-v-5a05e720="" class="page-tab-container">
				<div data-v-5a05e720="" class="mint-tab-container page-tabbar-tab-container">
					<div class="mint-tab-container-wrap">
						<div data-v-5a05e720="" class="mint-tab-container-item">
							<ul data-v-5a05e720="">

								{if $list}
								{volist name='list' id='v'}
								<li data-v-5a05e720="">
									<p data-v-5a05e720="">{$v.addtime|format_datetime="Y-m-d H:i"} </p>
									<h3 data-v-5a05e720="" class="caiwu-row-info">
										{switch $v.type}
										{case 1}<font color="red">{:lang('用户充值')}</font>{/case}
										{case 2}<font color="#2a28c3">{:lang('用户接单')}</font>{/case}
										{case 3}<font color="red">{:lang('接单返佣')}</font>{/case}
										{case 6}<font color="#ffaa00">{:lang('下级返佣')}</font>{/case}
										{case 7}<font color="#d814c9">{:lang('用户提现')}</font>{/case}
										{case 8}<font color="#ff0000">{:lang('提现失败')}</font>{/case}
										{case 11}<font color="#d814c9">{:lang('充值彩金')}</font>{/case}
										{case 21}<font color="green">{:lang('余额宝转入')}</font>{/case}
										{case 22}<font color="red">{:lang('余额宝转出')}</font>{/case}
										{case 23}<font color="red">{:lang('余额宝收益')}</font>{/case}
										{/switch}
										<span data-v-5a05e720=""
											class="mint-badge {if $v.status==1}is-error{else/}is-success{/if}  is-size-normal">{if
											$v.status==1}+{else/}-{/if}{$v.num}</span>

									</h3>
								</li>
								{/volist}
								{else\}

								{/if}

								{empty name='list'}<span
									class="notdata">{:lang('没有记录哦')}</span>{else}{$pagehtml|raw|default=''}{/empty}

							</ul>
						</div>
					</div>
				</div>
			</div>

		</ul>
	</div>


	<link rel="stylesheet" href="/static/home/css/weui.min.css">
	<link rel="stylesheet" href="/static/home/css/jquery-weui.css">
	<script src="/static/home/js/jquery-weui.js"></script>
	<script>
		var date = new Date();
		var year = date.getFullYear();
		var month = date.getMonth() + 1;
		var day = date.getDate();
		month = (month > 9) ? month : ('0' + month);
		day = (day < 10) ? ('0' + day) : day;

		var today = year + '-' + month + '-' + day;
		var start = $("#start").val();
		var end = $("#end").val();


		// start = start==''? today :  start;
		// end = end==''? today :  end;


		$(function () {
			$("#start").datetimePicker({
				title: '选择日期',
				value: start,
				yearSplit: '-',
				monthSplit: '-',
				times: function () {
					return [
					];
				},
				onChange: function (picker, values, displayValues) {
					console.log(values);
				}
			});
			$("#end").datetimePicker({
				title: '选择日期',
				value: end,
				yearSplit: '-',
				monthSplit: '-',
				times: function () {
					return [
					];
				},
				onChange: function (picker, values, displayValues) {
					console.log(values);
				}
			});
		})


		var pageNo = 1;

		$(function () {
			ajaxHonor(pageNo, 20);
		})

		function moreNews() {
			pageNo++;
			ajaxHonor(pageNo, 20);
		}

		function ajaxHonor(page, limit) {
			//提交 Ajax 成功后，静态更新表格中的数据
			$.ajax({
				url: '/balance-log/page',
				method: 'get',
				data: {
					pageNo: page,
					pageSize: limit,
					type: $("#type").val(),
					startTime: $("#start").val(),
					endTime: $("#end").val()
				},
				dataType: "json",
				success: function (res) {
					console.log(res);
					if (res.success) {
						initHtml(res.data.records, res.data.current >= res.data.pages);
					}
				}
			});
		}
		function timestampToTime(timestamp) {
			var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
			var Y = date.getFullYear() + '年';
			var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '月';
			var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + '日 ';
			var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
			var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
			var s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
			return Y + M + D + h + m + s;
		}

		function initHtml(newsList, hideBtn) {
			var html = "";
			if (hideBtn) {
				$("#moreNews").remove();
			}

			for (var i = 0; i < newsList.length; i++) {
				var obj = newsList[i];

				var statusHtml = '';

				switch (obj.type) {
					case 17:
						statusHtml = '<font color="red">提现驳回</font>';
						break;
					case 11:
						statusHtml = '<font color="red">商城支出</font>';
						break;
					case 1:
						statusHtml = '<font color="red">用户充值</font>';
						break;
					case 2:
					case 4:
						statusHtml = '<font color="#2a28c3">用户接单</font>';
						break;
					case 3:
						statusHtml = '<font color="red">接单返佣</font>';
						break;
					case 6:
						statusHtml = '<font color="#0cea5b">下级返佣</font>';
						break;
					case 7:
						statusHtml = '<font color="#d814c9">用户提现</font>';
						break;
					case 8:
						statusHtml = '<font color="#ff0000">提现失败</font>';
						break;
					case 21:
						statusHtml = '<font color="red">余额宝转入</font>';
						break;
					case 22:
						statusHtml = '<font color="red">余额宝转出</font>';
						break;
					case 23:
						statusHtml = '<font color="red">余额宝收益</font>';
						break;
					case 24:
						statusHtml = '<font color="red">余额宝手续费</font>';
						break;
					case 25:
						statusHtml = '<font color="red">升级VIP</font>';
						break;
				}

				var flag = "+";
				switch (obj.type) {
					case 11:
					case 2:
					case 4:
					case 7:
					case 21:
					case 24:
					case 25:
						flag = "-"
						break;
				}




				html += '<li>' +
					'<div class="txt">' +
					'<div class="s1">' +
					statusHtml +
					'</div>' +
					'<div class="s2">' + timestampToTime(obj.createTime) + '</div>' +
					'</div>' +
					'<div class="price">' +
					flag + obj.num.toFixed(2) +
					'</div>' +
					'</li>';

			}

			$("#newsList").append(html);
		}


	</script>
	<script>
		$('.pagination li').click(function () {
			var class2 = $(this).attr('class');
			if (class2 == 'active' || class2 == 'disabled') {

			} else {
				var url = $(this).find('a').attr('href');
				window.location.href = url;
			}
		})
		$(function () {
			$('.pagination-container select').attr('disabled', 'disabled');

			///
			// 主题
			new rolldate.Date({
				el: '#start',
				format: 'YYYY-MM-DD',
				beginYear: 2000,
				endYear: 2100,
				theme: 'blue'
			})


			// 主题
			new rolldate.Date({
				el: '#end',
				format: 'YYYY-MM-DD',
				beginYear: 2000,
				endYear: 2100,
				theme: 'blue'
			})
		});


	</script>

</body>

</html>