<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>头像</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static_sg/my/css/style.css?ver=1.1" />

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>

    <script charset="utf-8" src="/static/static_new/js/dialog.min.js"></script>
    <link rel="stylesheet" href="/static/static_new/css/public.css">

    <style type="text/css">
        .avatar {
            position: relative;
        }

        .touxiang {
            position: absolute;
            font-size: 14px;
            color: black;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .file-upload {
            display: none;
        }
    </style>

</head>

<body class="body-bottom">
    <div class="header">
        <a href="/my" class="g-return"></a>
        <h1>头像</h1>
    </div>
    <div class="wp">
        <div class="avatar-row1">
            <div class="userInfo">
                <input class="file-upload" id="file" type="file" accept="image/*" name="file" />
                <div class="avatar" id="btn">

                    <img class="js-avatar" src="/upload/headimg/39.a901301.png"
                        onerror="this.src='/static/home/images/avatar.png'" alt="15816393445">
                </div>
                <div class="name-vip">
                    <div class="name">15816393445</div>
                    <div class="vip">LV1</div>
                </div>
            </div>
        </div>
        <div class="avatar-row2">
            <ul class="avatar-list">
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/17.d4a9fa7.png" alt="">
                    </div>
                </li>
                <li class="active">
                    <div class="avatar">
                        <img src="/upload/headimg/39.a901301.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/9.8114f05.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/51.8373bbb.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/16.a79227d.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/103.4fec638.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/76.7a70366.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/25.f8a06c3.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/40.b46ddc4.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/28.8a7e137.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/99.9313b41.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/91.e65990d.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/32.b2484bb.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/19.22968ad.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/74.e047ba4.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/69.e01ce22.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/41.5d44850.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/34.f20213a.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/44.a30669b.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/18.8486b11.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/42.fe8c891.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/50.0cb3fad.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/26.559f6de.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/83.b3efae0.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/92.64c1f3b.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/0.8612276.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/87.e1e7b0c.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/23.77b5977.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/7.fa4a614.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/27.ce0a142.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/72.9de9d74.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/62.a2f0d1c.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/70.6b85c24.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/86.41b586f.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/88.d49afa6.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/48.6069c3c.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/60.b782370.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/95.d1377f2.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/59.617337e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/6.d4c5b78.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/1.029ad66.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/64.2717a44.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/22.7bab723.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/80.7f83455.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/75.babe674.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/37.d8e73d7.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/61.9be80b5.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/77.9a669b8.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/38.303cb70.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/81.a969da2.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/12.70e3458.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/49.e31c42e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/4.644403e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/47.50b6079.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/54.0f4e83a.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/84.60c94e7.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/30.1c41b35.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/15.a2f382f.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/2.8184534.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/45.20e995e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/100.4b4a893.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/56.38b8d75.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/85.1c433f2.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/5.8235203.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/11.d2ed9fa.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/79.2119eaf.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/78.eea5ee4.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/55.490db2a.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/33.d10f366.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/66.956f1bf.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/93.eaeedf2.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/102.aac8500.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/13.6f487aa.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/58.b03bda8.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/10.26bb4db.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/97.c23f8a1.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/29.4ddb3ed.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/43.59ff4f9.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/52.8fbfeec.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/46.32798f8.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/98.124381a.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/89.e957020.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/63.6e3bb9d.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/68.f1a9038.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/90.d536fe7.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/3.12d5a5e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/20.d5323ef.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/8.998a68e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/36.b0a428e.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <img src="/upload/headimg/67.3b6787d.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-float">
        <a href="javascript:;" class="btn-submit">立即设置</a>
    </div>
    <script>
        $(function () {
            $('.avatar-list').on('click', '.avatar', function () {
                var index = $(this).parents('li').index()
                $(this).parents('li').addClass('active').siblings().removeClass('active');
                if (index) {
                    $('.js-avatar').attr('src', $(this).attr('src'))
                }
            });
        })

        $(document).on("click", "#btn", function () {
            // 点击图片的同时，点击上传文件的input
            $('.file-upload').click();

            // 将上传的图片显示到页面上
            $(document).on("change", ".file-upload", function () {
                var fileName = $("#file").val();
                var idxDot = fileName.lastIndexOf(".") + 1;
                var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
                if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {

                } else {
                    $(document).dialog({ infoText: "请选择图片", autoClose: 2000 });
                    return;
                }

                loading = $(document).dialog({
                    type: 'notice',
                    infoIcon: '/static/static_new/img/loading.gif',
                    infoText: '正在上传中',
                    autoClose: 0
                });


                var formData = new FormData();   //新建表单元素
                formData.append('file', $(".file-upload")[0].files[0]);   //添加上传文件变量，获得文件真实信息，解决虚拟路径

                $.ajax({
                    type: 'POST',
                    url: '/local/upload',
                    data: formData,
                    processData: false, // 告诉jQuery不要去处理发送的数据
                    contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                    async: false,
                    timeout: 60000,
                    success: function (res) {
                        loading.close();
                        if (res.success) {
                            $(document).dialog({ infoText: "上传头像成功", autoClose: 2000 });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1500);
                        } else {
                            $(document).dialog({ infoText: data.msg, autoClose: 2000 });
                        }
                    },
                    error: function (err) {
                        loading.close();
                        $(document).dialog({ infoText: "上传头像失败", autoClose: 2000 });
                        //                       setTimeout(function () {
                        //                     	    window.location.reload();
                        //                       }, 1500);
                    }
                })


                //         var img = document.getElementById('picture'); //获得用户上传的图片节点
                //         var reader = new FileReader();
                //         // 转换成功后的操作，img.src即为转换后的DataURL
                //         reader.onload = function(e) {
                //             if (reader.readyState === 2) { //加载完毕后赋值
                //                 img.src = e.target.result;
                //                 console.log(img.src);
                //             }
                //         }
                //         reader.readAsDataURL(fileObj.files[0]);
            });
        });

    </script>

    <script>
        var pic = '';
        $(function () {

            $(".avatar-list li img").on('click', function () {
                $('.js-avatar').attr('src', $(this).attr('src'));
                pic = $(this).attr('src');
            })

            /*点击登录*/
            $(".btn-submit").on('click', function () {
                if (1) {
                    var loading = null;
                    $.ajax({
                        url: "/users/editHeadImg",
                        data: { pic: pic },
                        type: 'POST',
                        beforeSend: function () {
                            loading = $(document).dialog({
                                type: 'notice',
                                infoIcon: '/static/static_new/img/loading.gif',
                                infoText: '正在加载中',
                                autoClose: 0
                            });
                        },
                        success: function (data) {

                            if (data.success) {
                                $(document).dialog({ infoText: '保存成功' });
                                setTimeout(function () {
                                    location.href = '/my';
                                }, 2000);
                            } else {
                                loading.close();
                                $(document).dialog({ infoText: data.msg });
                            }
                        }
                    });
                }
            });

        })
    </script>

</body>

</html>