<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/home/css/style.css" />
    <link rel="stylesheet" href="/static/home/css/danmu.css" />
    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/lib.js"></script>

    <!-- API路由系统文件 -->
    <script src="/static/js/url-mapping.js"></script>
    <script src="/static/js/api-url-resolver.js"></script>
    <script src="/static/js/api-integration.js"></script>
</head>

<body class="body-bottom">
    <div class="mine-row1">
        <div class="wp">
            <div class="userInfo">
                <div class="avatar">
                    <img src={$info.headpic} onerror="this.src='/static/home/images/avatar.png'" alt="15816393445">
                </div>
                <div class="name-code">
                    <div class="name-vip">
                        <div class="name">{$info.username}</div>
                        <div class="vip">LV{$info.level +1}</div>
                    </div>
                    <div class="code">邀请码:{$info.invite_code}</div>
                </div>


                <div style="margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;">
                    <img src="/static/home/images/xyf.png">
                    <p>信用分：{$info.credit_score}</p>
                </div>
            </div>
            <div class="zh-info">
                <div class="txt">
                    <div class="s1">账户金额</div>
                    <div class="s2">￥{$info.balance}</div>
                </div>
                <a href="/ctrl/recharge" class="a1">立即储入</a>
                <a href="/ctrl/deposit" class="a2">立即提现</a>
            </div>
            <ul class="w-list1">
                <li>
                    <a href="/my/invite">
                        <div class="pic">
                            <img src="/static/home/images/w-icon1.png" alt="">
                        </div>
                        <p>邀请好友</p>
                    </a>
                </li>
                <li>
                    <a href="/ctrl/junior">
                        <div class="pic">
                            <img src="/static/home/images/w-icon2.png" alt="">
                        </div>
                        <p>团队报表</p>
                    </a>
                </li>
                <li>
                    <a href="/my/caiwu">
                        <div class="pic">
                            <img src="/static/home/images/w-icon3.png" alt="">
                        </div>
                        <p>账户明细</p>
                    </a>
                </li>
                <li>
                    <a href="/order">
                        <div class="pic">
                            <img src="/static/home/images/w-icon4.png" alt="">
                        </div>
                        <p>领取记录</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wp">
        <div class="mine-row3">
            <div class="w-tit1">
                <div class="tit">更多功能</div>
            </div>
            <ul class="w-list3">
                <li>
                    <a href="/ctrl/set">
                        <span class="s1">个人信息</span>
                    </a>
                </li>
                <li>
                    <a href="/ctrl/recharge_admin">
                        <span class="s2">储入记录</span>
                    </a>
                </li>
                <li>
                    <a href="/ctrl/deposit_admin">
                        <span class="s3">提现记录</span>
                    </a>
                </li>
                <li>
                    <a href="/my/msg">
                        <span class="s4">系统公告</span>
                    </a>
                </li>
                <!--			<li>-->
                <!--			    <a href="/my/help">-->
                <!--			        <span class="s6">帮助中心</span>-->
                <!--			    </a>-->
                <!--			</li>-->
            </ul>
            <ul class="w-list3">
                <li>
                    <a href="javascript:loginOut();">
                        <span class="s5">退出登录</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--<a href="" class="mine-row4">-->
        <!--    <img src="../../home/images/w-p1.jpg" alt="">-->
        <!--</a>-->
    </div>

    <ul class="footer">
        <li onclick="window.location.href='/'">
            <i class="i1"></i>
            <p>首页</p>
        </li>
        <li onclick="window.location.href='/order'">
            <i class="i2"></i>
            <p>记录</p>
        </li>
        <li onclick="window.location.href='/rotOrder'">
            <i class="i3"></i>
            <p>领取</p>
        </li>
        <li onclick="window.location.href='/support'">
            <i class="i4"></i>
            <p>客服</p>
        </li>
        <li class="active" onclick="window.location.href='/my'">
            <i class="i5"></i>
            <p>我的</p>
        </li>
    </ul>


    <div id="danmu" style="display:none">

        <div class='banner_img' style="width:8rem;height:3.89rem">
            <img src="/static/home/images/danmu.jpg" width="100%" height="100%">
        </div>

        <div class="summary-card">


            <div class="order-info">
                <div class="order-text">
                    <div class="summary-card_h1">消息通知</div>
                    <p class="summary-card_p" id="content"></p>
                    <input type="hidden" id="tc_id">
                </div>

                <div class="order-actions">
                    <button class="btn btn-primary summary-card_button" onclick="closeDanmu()">我知道了</button>
                    <!--<button class="btn btn-no-outline">Cancel Order</button>-->

                </div>
            </div>
        </div>
    </div>
    <div class="pop-mask"></div>
    <script>
        $('.footer li:eq(4)').addClass('active');
    </script>
    <script src="/static/plugs/layui/layui.all.js"></script>
    <script>
        get_user_tc();

        setInterval(get_user_tc, 5000);
        var flag = false;

        function showDanmu(content, id) {

            $("#danmu").show();
            $(".pop-mask").show();
            $("#content").html(content);
            $("#tc_id").val(id);
        }

        function closeDanmu() {
            $("#danmu").hide();
            $(".pop-mask").hide();
            flag = false;
            $.ajax({
                url: "/user-tc/saveOrUpdate",
                type: "POST",
                dataType: "JSON",
                data: {
                    status: 1,
                    id: $("#tc_id").val()
                },
            })

        }

        function get_user_tc() {
            if (flag) {
                return false;
            }
            $.ajax({
                url: ("/user-tc/select"),
                type: "GET",
                data: {},
                success: function (res) {
                    if (res.success) {
                        flag = true;
                        var data_tc = res.data;
                        var html = '';
                        showDanmu(data_tc.content, data_tc.id)

                    }
                },
            })

        }

        function loginOut() {
            $.ajax({
                url: "logout",  // 使用API路由系统，会自动转换为 /index/user/logout
                type: "POST",
                dataType: "JSON",
                data: {},
                success: function (data) {
                    // 清除弹窗显示记录，让重新登录后可以再次显示弹窗
                    localStorage.removeItem('specialNoticeShown_' + getCurrentDate());

                    // 清除登录标记，确保重新登录时会设置新的标记
                    sessionStorage.removeItem('fromLogin');
                    sessionStorage.removeItem('loginTime');

                    console.log('登出成功，已清除弹窗显示记录和登录标记');

                    // 跳转到登录页面
                    window.location.href = "/user/login";
                },
                error: function (xhr, status, error) {
                    console.log('登出请求失败:', error);
                    // 即使请求失败也清除标记并跳转
                    localStorage.removeItem('specialNoticeShown_' + getCurrentDate());
                    sessionStorage.removeItem('fromLogin');
                    sessionStorage.removeItem('loginTime');
                    window.location.href = "/user/login";
                }
            });
        }

        // 获取当前日期字符串（与首页保持一致）
        function getCurrentDate() {
            var today = new Date();
            return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        }
    </script>
</body>

</html>