<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>客服</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/home/css/style.css" />
    <link rel="stylesheet" href="/static/home/css/danmu.css" />
    <script src="/static/home/js/jquery.js"></script>
</head>

<body class="body-bottom body-kf">
    <div class="title">
        <div class="s1">在线客服</div>
        <div class="s2">银行卡充值请联系在线客服</div>
        <div class="s3">如遇问题需要帮助请联系在线客服</div>
    </div>
    <div class="box">
        <div class="avatar">
            <img src="/static/home/images/kf/toux.png" alt="">
        </div>
        <div class="name">官方客服</div>
        <ul class="qq-list">

            <li>
                <div class="s1">在线客服-1：9:00-21:00</div>
                <div class="s2">
                    onclick="window.location.href=&#39;./ctrl/lixibao_chu.html?eid=&#39; + &quot;a907f9dbd60590e6dd3a799fd7dc3ccb&quot;">
                    <!-- <input readonly id="c1" type="text" value="联系客服"
                        onclick="window.location.href='https://chat.ssrchat.com/service/guw6uh'"> -->
            </li>

    </div>

    <ul class="footer">
        <li class="active" onclick="window.location.href='/'">
            <i class="i1"></i>
            <p>首页</p>
        </li>
        <li onclick="window.location.href='/order'">
            <i class="i2"></i>
            <p>记录</p>
        </li>
        <li onclick="window.location.href='/rotOrder'">
            <i class="i3"></i>
            <p>领取</p>
        </li>
        <li onclick="window.location.href='/support'">
            <i class="i4"></i>
            <p>客服</p>
        </li>
        <li onclick="window.location.href='/my'">
            <i class="i5"></i>
            <p>我的</p>
        </li>
    </ul>

    <div id="danmu" style="display:none">

        <div class='banner_img' style="width:8rem;height:3.89rem">
            <img src="/static/home/images/danmu.jpg" width="100%" height="100%">
        </div>

        <div class="summary-card">



            <div class="order-info">
                <div class="order-text">
                    <div class="summary-card_h1">消息通知</div>
                    <p class="summary-card_p" id="content"></p>
                    <input type="hidden" id="tc_id">
                </div>

                <div class="order-actions">
                    <button class="btn btn-primary summary-card_button" onclick="closeDanmu()">我知道了</button>
                    <!--<button class="btn btn-no-outline">Cancel Order</button>-->

                </div>
            </div>
        </div>
    </div>
    <div class="pop-mask"></div>
    <script>
        $(function () {
            $('.footer li:eq(3)').addClass('active');
        })
    </script>
    <script>
        get_user_tc();

        setInterval(get_user_tc, 5000);
        var flag = false;

        function showDanmu(content, id) {

            $("#danmu").show();
            $(".pop-mask").show();
            $("#content").html(content);
            $("#tc_id").val(id);
        }

        function closeDanmu() {
            $("#danmu").hide();
            $(".pop-mask").hide();
            flag = false;
            $.ajax({
                url: "/user-tc/saveOrUpdate",
                type: "POST",
                dataType: "JSON",
                data: {
                    status: 1,
                    id: $("#tc_id").val()
                },
            })

        }

        function get_user_tc() {
            if (flag) {
                return false;
            }
            $.ajax({
                url: ("/user-tc/select"),
                type: "GET",
                data: {},
                success: function (res) {
                    if (res.success) {
                        flag = true;
                        var data_tc = res.data;
                        var html = '';
                        showDanmu(data_tc.content, data_tc.id)

                    }
                },
            })

        }
    </script>

</body>

</html>