<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">渠道名称</label>
            <div class="layui-input-block">
                <input name="username" required placeholder="请输入名称" value="{$list.username}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_cs')}">
                <input type="hidden" name="id" value="{$list.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">号码</label>
            <div class="layui-input-block">
                <input name="tel" required placeholder="请输入号码" value="{$list.tel}" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">客服图标</label>
             <div class="layui-input-block">
                 <input name="ico" type="hidden" value="{$list.ico|default=''}">
            <script>$('[name="ico"]').uploadOneImage()</script>
            </div>
            
         
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客服描述</label>
            <div class="layui-input-block">
                <input name="remark" placeholder="请输入客服描述文字" value="{$list.remark}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跳转链接</label>
            <div class="layui-input-block">
                <input name="url" placeholder="请输入跳转链接" value="{$list.url}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">点击文字</label>
            <div class="layui-input-block">
                <input name="linktext" placeholder="请输入点击文字" value="{$list.linktext}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">二维码</label>
            <div class="layui-input-block">
                 <input name="qr_code" type="hidden" value="{$list.qr_code|default=''}">
            <script>$('[name="qr_code"]').uploadOneImage(), $('[name="image"]').uploadMultipleImage()</script>
            </div>
            
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">时间范围</label>
            <div class="layui-input-inline">
                <input data-time-range type="text" class="layui-input" name='time' id="time" value="{$list.btime}:00 - {$list.etime}:00" placeholder=" - ">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>
    <script>
    laydate.render({ 
    elem: '#time'
    ,type: 'time'
    ,range:'-'
    ,done: function(value, date, endDate){
        console.log(value); //得到日期生成的值，如：2017-08-18
    }
    });
    </script>
</form>
