{extend name='main'}

{block name="content"}
<style>
    
::-webkit-scrollbar{  height: 8px; } 
</style>
<div class="think-box-shadow">
    {include file='deal/order_list_search'}
    <?php
        $level = Db::table('xy_level')->field('name,level')->select();
        $levelname = array_column($level, 'name','level');
    ?>
    <fieldset><legend>数据统计</legend><font color="red">交易总额：{$order_sum}元</font> &nbsp;&nbsp;&nbsp;<font color="red">佣金总额：{$commission_sum}元</font></fieldset>
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>订单号</th>
            <th class='text-left nowrap'>真实姓名</th>
            <th class='text-left nowrap'>会员等级</th>
            <th class='text-left nowrap'>余额</th>
            <th class='text-left nowrap'>今日单数</th>
            <th class='text-left nowrap'>单价数量</th>
            <th class='text-left nowrap'>总价佣金</th>
            <th class='text-left nowrap'>下单时间 解冻时间</th>
            <th class='text-left nowrap'>交易状态</th>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>商品名称</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            
            <td class='text-left nowrap J_id'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>{:model('Users')->getLevel($vo.level,'name');}</td>
            <td class='text-left nowrap'>{$vo.ubalance}</td>
            <td class='text-left nowrap '> {$vo.addtime|format_datetime='m-d'}  <p class="J_today_num">排序</p></td>
            <td class='text-left nowrap'>单价&yen;&nbsp; {$vo.goods_price}<p>数量:&nbsp; {$vo.goods_count}</td>
            <td class='text-left nowrap'><font color="red">总价&yen;{$vo.num}</font><p>佣金&yen;{$vo.commission}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}<p>{$vo.endtime|format_datetime}</td>
            <td class='text-left nowrap'>
                {switch $vo.status}
                    {case 0}
                        {literal}
                        <!-- {if auth("edit_recharge")}
                                <a data-csrf="{:systoken('admin/deal/edit_recharge')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_recharge',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" >确认付款</a>
                                <a data-csrf="{:systoken('admin/deal/edit_recharge')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_recharge',['status'=>3,'id'=>$vo.id])}" data-value="id#{$vo.id};status#3" >取消订单</a>
                            {/if} -->
                            等待付款
                        {/literal}
                    {/case}
                    {case 1}完成付款{/case}
                    {case 2}用户取消{/case}
                    {case 3}强制付款{/case}
                    {case 4}系统取消{/case}
                    {case 5}订单冻结{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status==0}
<!--
<a data-dbclick class="layui-btn layui-btn-xs " data-title="修改订单" data-modal='{:url("admin/deal/edit_order")}?id={$vo.id}'>修改订单</a>
-->

                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#3" >强制付款</a>
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#4" >取消订单</a>
                {/if}

            </td>
            
            <td class='text-left nowrap'>{$vo.goods_name}  </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

<script type="text/javascript" charset="utf-8"> 
$(function() {
        $(".J_id").each(function () {
            var id = $(this).text();
            console.log(id);
            var _this = $(this);
            $.ajax({
                dataType: "json",
                type: "POST",
                // async: false,
                url: "/admin/deal/get_order_info",
                data: { id: id, time: new Date().getTime() },
                success: function(data) {
                    console.log(data);
                    if (data.code == 1) {
                      //  _this.parent().find(".J_today_num").html(data.date + ' 第' + data.today_num + '单');
                        _this.parent().find(".J_today_num").html(' 第' + data.today_num + '单');
                        _this.parent().find(".J_parent_username").html(data.parent_username);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("ajax error");
                },
                complete: function(XMLHttpRequest, textStatus) {
                    this; // 调用本次AJAX请求时传递的options参数
                }
            });
        });
    });
</script>
{/block}

